:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-gray: #22252d;
  --green: #24ff61;
  --red: #ff3737;
}

body {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  background-color: var(--dark-gray);
}
